@model List<Megyek.Models.Part.PartAdataiModel>
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Internetes alkalamzás fejlesztés I. II. 2023/24/2</title>
    <link rel="stylesheet" href="~/css/part.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet" />
</head>
<body>
    <main>
        <div id="topContent">
            <div id="left">
                <h1>
                    @{
                        string partneve = "";
                        foreach (var valasztas in Model)
                        {
                            partneve = valasztas.neve;
                        } 
                    }
                    @partneve
                </h1>
                @{
                    int szam = 0;
                    foreach (var valasztas in Model)
                    {
                        szam = valasztas.ossze_induloja;
                    }

                }
                <h2>Összes eddigi indulója:@szam </h2>
            </div>

            <div id="right">
                <div id="table">
                    <div id="part_table">
                        <table style="width:100%">
                            
                            <tr>
                                <th>Indulási évek</th>
                                <th>Országos eredmény (%)</th>
                            </tr>
                            @foreach(var valasztas in Model)
                            {
                                foreach (var indulas in valasztas.indulasi_evek)
                                {
                                    <tr>
                                        <td>@indulas.ev</td>
                                        <td>@indulas.orszagos_eredmeny</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="table">
            <div id="korabbi_table">
                <table style="width:100%">
                    <tr>
                        <th>Induló neve</th>
                        <th>Terület</th>
                        <th>Szavazatot kapott</th>
                        <th>Utoljára nyert</th>
                    </tr> 
                    @if (Model != null)
                    {
                        @foreach (var valasztas in Model)
                        {
                            foreach (var data in valasztas.adatok)
                            {
                                <tr>
                                    <td>@data.indulo_neve</td>
                                    <td>@data.valasztasi_terulet</td>
                                    <td>@data.szavazatot_kapott.darab</td>
                                    <td>@data.utoljara_nyert</td>
                                </tr>
                                
                            }
                        }
                    }
                   
                </table>
            </div>
        </div>
    </main>
</body>
</html>
